.primary-button {
    background: $primary;
    color: white;
    font-weight: $regular;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    letter-spacing: 1px;
    box-shadow: $boxShadow1;
    cursor: pointer;
    text-transform: uppercase;

    a {
        padding: 15px 20px;
        width: 100%;
        display: block;
    }
    

    &:visited {
        outline: none;
    }

    &:focus {
        outline: none;
    }
}

.hide {
    display: none;
}