.radio-container {
    position: relative; 
    padding: 5px 20px;

    &:hover {
        input[type="radio"] ~ .checkmark {
            background-color: #F65F73;
        }
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0; 
    }

    .checkmark {
        position: absolute;
        top: 50%;
        left: -5px;
        transform: translate(-50%, -50%);
        height: 20px;
        width: 20px;
        background-color: #f9f9f9;
        border-radius: 20px;
        box-shadow: 0 5px 8px rgba(0,0,0,.1);
        transition: all .3s ease;

        &:after {
            content: "";
            position: absolute;
            display: none;
            width: 70%;
            height: 70%;
            background-color: #F65F73;
            border-radius: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.radio-container:hover input[type="radio"]:checked ~ .checkmark {
    background-color: #F65F73;
}

.radio-container input[type="radio"]:checked ~ .checkmark:after {
  display: block;
}