@import '../../styles/global';  
.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: .5fr 1fr .7fr;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    box-shadow: $box_shadow_light;
    padding-right: 80px;

    .contentImage {
        margin: auto;
        img {
            width: 350px;
        }
    }

    .selection {
        padding: $_50Padding;
        background: $primary_light;
        
        .categories {
            background: white;
            padding: $_30Padding;
            box-shadow: $boxShadow1;
            border-radius: 10px;
            h2 {
                margin-bottom: $_30Margin;
                
            }

            & > div {
                overflow: hidden;
                
            }

        }

        .types {
            margin-top: $_30Margin;
            padding: $_30Padding;
            h2 {
                margin-bottom: $_30Margin;
                color: white !important;
            }
            .typesContainer {
                display: flex;
                flex-direction: column;
                padding: 0 20px;
                label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
                   
                    color: white;
                    font-weight: $semiBold;
                }
            }
        }

        .amount {
            padding: $_30Padding;
            h2 {
                margin-bottom: $_30Margin;
                color: white !important;
                
            }
        }

        .button {
            margin-top: $_30Margin;
            button {
                width: 100%;
                padding: 20px 25px;
                transition: all .3s ease-in;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
            button:disabled {
                cursor: not-allowed;
                background: rgba($color: #f9f9f9, $alpha: .6);
                color: $primary;

                a {
                    color: $primary;
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .container {
        grid-template-columns: 1fr;
        .contentImage {
            display: none;
        }

        .sidebar {
            display: none;
        }
    }
} 