@import '../../styles/global';
.container {
    height: 100%;
    width: 100%;
    padding: 50px $_30Padding;

    .score {
        margin-bottom: 50px;
    }

    .currentProgress {
        h4 {
            margin-bottom: 10px;
        }
    }

    .next {
        margin-top: 80px;
    }
}